.logo {
    width: 100px;
}

ul.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

ul.menu a{
    text-decoration: none;
    color:grey;
    font-size: 18px;
}

.headerWrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
}

div.userName {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10%;
}

div.userName p {
    background: #b1dfe7;
    padding: 15px;
    border-radius: 15px;
    color: blue;
    font-weight: 600;
}

.heroSection ,.formSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
body{
    overflow: hidden;
}
.formSection {
    grid-template-columns: 2fr 1fr;
}
h1,
h2 {
    font-weight: bold;
    color: #515050;
    font-size: 3em;

}

.heroSection div ,.formSection div {
    padding: 10% 17%;
}

h2 {
    color: #00BFFF;
}

.heroSection p {
    font-size: 1.13em;
    color: grey;
    font-weight: 400;
    letter-spacing: 1px;
}
.heroSection button,.formSection button {
    background: #00BFFF;
    padding: 15px 30px;
    border-radius: 15px;
    color: white;
    font-weight: 600;
    border: none;
    font-size: 1.13em;
    cursor: pointer;
}
.formSection button {
    padding: 10px 15px;
}
.heroSection img{
    width: 60%;
}
.formBox,.colorBox{
    border: 2px solid #b1dfe7;
    border-radius: 15px;
    box-shadow: 5px 5px 10px grey;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.formBox form{
    padding: 20px;
}   
.formBox label{
    font-size: 1.13em;
    color: grey;
    font-weight: 400;
    letter-spacing: 1px;
}
.formBox input{
    display: block;
    margin-top: 10px;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid grey;
    font-size: 1em;
}   
.formBox input:focus{
    outline: none;
    border: 2px solid #00BFFF;
    margin-left:20px;
}
.headBand {
     background: #b1dfe7;
      padding: 15px;
    color: blue;
    font-weight: 600;
    color:black;
    text-align: center
}
.colorBox{
       box-shadow: -3px 3px 10px 4px grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px !important;
    text-align: center;
    flex-direction: row;
    width: 90%;
    row-gap: 20px;
}

.colorBox div{
    height: 130px;
    row-gap: 20px;
    border-radius: 20px;
    border: 2px solid grey;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
    line-height: 50px;
    
}
#red{
    background: white;
    cursor: pointer;
    color:red
}
#blue{
    background: white;
    cursor: pointer;
    color:blue
}


#green{
     background: white;
    cursor: pointer;
    color:green;
}
#yellow{
      background: white;
    cursor: pointer;
    color:rgb(130, 130, 20)
}
#red.full{
    background: red;
    color:black
}
#blue.full{
    background: blue;
    color:black
}
#green.full{
    background: green;
    color:black
}
#yellow.full{
    background: yellow;
    color:black
}
@media (max-width: 768px) {
    body{
        overflow: auto;
    }
    .headerWrapper {
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        text-align: center;
    }
.heroSection div, .formSection div {
    padding: 0 5%;
}
    .heroSection, .formSection {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .heroSection img {
        width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .formSection div {
        padding: 5%;
    }

    ul.menu {
        order:3;
        width: 100%;
                flex-direction: column;
        align-items: flex-start;
    }

    div.userName {
        justify-content: center;
        padding: 0;
    }
}